{{- if eq (getenv "INGRESS_CLASS") "nginx" }}
ingress:
  enabled: true
  className: "nginx"
  annotations:
    {{- range $key, $value := (datasource "annotations") }}
    {{ $key }}: "{{ $value }}"
    {{- end }}
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: "/$2"
  hosts:
    - host: eoapi.{{ getenv "INGRESS_HOST" }}
      paths:
        - path: /manager(/|$)(.*)
          pathType: ImplementationSpecific
  {{- if eq ( getenv "HTTP_SCHEME" ) "https" }}
  tls:
    - secretName: "eoapi-tls"
      hosts:
        - eoapi.{{ getenv "INGRESS_HOST" }}
  {{- end }}
{{- else if eq (getenv "INGRESS_CLASS") "apisix" }}
ingress:
  enabled: false
{{- else }}
ingress:
  enabled: false
{{- end }}
resources:
  requests:
    memory: "1Gi"
    cpu: "1"
  limits:
    memory: "4Gi"
    cpu: "4"
image:
  tag: latest
  pullPolicy: Always
publicUrl: {{ getenv "HTTP_SCHEME" }}://eoapi.{{ getenv "INGRESS_HOST" }}/manager/
stacApi: {{ getenv "HTTP_SCHEME" }}://eoapi.{{ getenv "INGRESS_HOST" }}/stac/
primaryColor: "#005ACD"
secondaryColor: "#048A81"
{{- if eq (getenv "DATA_ACCESS_ENABLE_IAM") "yes" }}
oidc:
  providerUrl: {{ getenv "HTTP_SCHEME" }}://{{ getenv "KEYCLOAK_HOST" }}
  clientId: {{ getenv "EOAPI_CLIENT_ID" }}
  realm: {{ getenv "REALM" }}
{{- end }}
resources:
  requests:
    memory: "1Gi"
    cpu: "1"
  limits:
    memory: "4Gi"
    cpu: "4"
image:
  tag: latest
  pullPolicy: Always
