.vscode/*
!.vscode/settings.json
site/
deploy/eoepca/client.yaml
deploy/eoepca/client-apphub.yaml
deploy/cluster/s3cfg
.idea
generated-*
*-values.yaml
gatekeeper-values.yaml
reference-repo/
reference-repo*
/kubeconfig.yaml
.pytest_cache/
test-report.xml
venv/
*.log
notebooks/examples/test-runs/*
