site_name: EOEPCA Deployment Guide
site_url: https://eoepca.readthedocs.io/projects/deploy/en/latest/
repo_url: https://github.com/EOEPCA/deployment-guide
edit_uri: "edit/main/docs/"

# Site navigation
nav:
  - EOEPCA+ Deployment:
      - Introduction: index.md
      - Deployments:
        - EOEPCA+ Prerequisites: prerequisites/prerequisites-overview.md
        - Building Blocks: building-blocks/overview.md
  - EOEPCA+ Prerequisites:
      - Overview: prerequisites/prerequisites-overview.md
      - Kubernetes Requirements: prerequisites/kubernetes.md
      - Storage Requirements: prerequisites/storage.md
      - Ingress Setup:
          - Overview: prerequisites/ingress/overview.md
          - APISIX Ingress: prerequisites/ingress/apisix.md
          - Nginx Ingress: prerequisites/ingress/nginx.md
          - Multiple Ingress Controllers: prerequisites/ingress/multi.md
      - TLS Management: prerequisites/tls.md
      - Optional Components:
          - S3 Storage (MinIO): prerequisites/minio.md
          - Container Registry: prerequisites/container-registry.md
      - Application Deployment →: building-blocks/overview.md
  - Building Blocks:
    - Deployment Overview: building-blocks/overview.md
    - Identity & Access (IAM): 
        - Deployment: building-blocks/iam/main-iam.md
        - Client Administration: building-blocks/iam/client-management.md
        - Advanced Configuration: building-blocks/iam/advanced-iam.md
    - Data:
      - Resource Discovery: building-blocks/resource-discovery.md
      - Resource Registration: building-blocks/resource-registration.md
      - Data Access: building-blocks/data-access.md
      - Datacube Access: building-blocks/datacube-access.md

    - Processing & Analysis:
        - Processing:
          - Overview: building-blocks/processing.md
          - OGC API Processes: building-blocks/oapip-engine.md
          - openEO Geotrellis: building-blocks/openeo-geotrellis.md
          - openEO Argo Workflows (Dask): building-blocks/openeo-argo.md
        - MLOps: building-blocks/mlops.md

    - User Environments:
      - Workspace: building-blocks/workspace.md
      - Application Hub: building-blocks/application-hub.md

    - Platform Monitoring & Quality:
      - Resource Health: building-blocks/resource-health.md
      - Application Quality: building-blocks/application-quality.md
    
  - Further EOEPCA+ Documentation: https://eoepca.readthedocs.io/

theme:
  # name: mkdocs
  # name: readthedocs
  name: material # https://squidfunk.github.io/mkdocs-material/creating-your-site/
  # locale: en
  # custom_dir: my_theme_customizations/
  custom_dir: overrides
  # static_templates:
  #   - sitemap.html
  # include_sidebar: false

  # highlightjs: true
  # hljs_languages:
  #   - yaml
  navigation_depth: 5

  # For `material` theme...
  logo: img/favicon.ico
  favicon: img/favicon.ico
  features:
    - navigation.footer
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    # - navigation.expand
    # - toc.integrate
    - navigation.top
    - content.code.copy
    - content.action.edit

extra_css:
  - css/eoepca.css

plugins:
  - autorefs
  # - pub-debugger:
  #     console_log:
  #       enabled: true
  #       log_level: INFO
  #     file_log:
  #       enabled: false
  #     zip_log:
  #       enabled: false

markdown_extensions:
  - tables
  - toc:
      permalink: ⚓︎
      toc_depth: 4
  - smarty
  - sane_lists
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - abbr
  - attr_list
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
