apiVersion: apisix.apache.org/v2
kind: ApisixRoute
metadata:
  name: workspace-api
  namespace: workspace
spec:
  http:
    - name: workspace-api-no-auth
      match:
        hosts:
          - workspace-api.{{ getenv "INGRESS_HOST" }}
        paths:
          - "/metrics*"
          - "/probe*"
          - "/ui*"
      backends:
        - serviceName: workspace-api
          servicePort: 8080
      plugins: []
    - name: workspace-api-debug
      match:
        hosts:
          - workspace-api.{{ getenv "INGRESS_HOST" }}
        paths:
          - /debug*
      backends:
        - serviceName: workspace-api
          servicePort: 8080
      plugins:
        - name: openid-connect
          enable: true
          config:
            discovery: "{{ getenv "HTTP_SCHEME" }}://{{ getenv "KEYCLOAK_HOST" }}/realms/{{ getenv "REALM" }}/.well-known/openid-configuration"
            use_jwks: true
            bearer_only: false
            set_access_token_header: false
            access_token_in_authorization_header: false
            set_id_token_header: true
            set_userinfo_header: true
          secretRef: workspace-api
    - name: workspace-api-docs
      match:
        hosts:
          - workspace-api.{{ getenv "INGRESS_HOST" }}
        paths:
          - /docs*
          - /openapi.json*
      backends:
        - serviceName: workspace-api
          servicePort: 8080
{{- if eq ( getenv "OIDC_WORKSPACE_ENABLED" ) "true" }}
      plugins:
        - name: openid-connect
          enable: true
          config:
            access_token_in_authorization_header: true
            discovery: "{{ getenv "HTTP_SCHEME" }}://{{ getenv "KEYCLOAK_HOST" }}/realms/{{ getenv "REALM" }}/.well-known/openid-configuration"
          secretRef: workspace-api
{{- end }}
    - name: workspace-api-admin
      match:  
        hosts:
          - workspace-api.{{ getenv "INGRESS_HOST" }}
        paths:
          - /workspaces
          - /workspaces/*
        methods:
          - POST
          - DELETE
      backends:
        - serviceName: workspace-api
          servicePort: 8080
{{- if eq ( getenv "OIDC_WORKSPACE_ENABLED" ) "true" }}
      plugins:
        - name: authz-keycloak
          enable: true
          config:
            discovery: {{ getenv "HTTP_SCHEME" }}://{{ getenv "KEYCLOAK_HOST" }}/realms/{{ getenv "REALM" }}/.well-known/uma2-configuration
            lazy_load_paths: true
            ssl_verify: false
          secretRef: workspace-api
{{- end }}
    - name: workspace-api-user
      match:
        hosts:
          - workspace-api.{{ getenv "INGRESS_HOST" }}
        paths:
          - /*
      backends:
        - serviceName: workspace-api
          servicePort: 8080
{{- if eq ( getenv "OIDC_WORKSPACE_ENABLED" ) "true" }}
      plugins:
        - name: openid-connect
          enable: true
          config:
            discovery: "{{ getenv "HTTP_SCHEME" }}://{{ getenv "KEYCLOAK_HOST" }}/realms/{{ getenv "REALM" }}/.well-known/openid-configuration"
            use_jwks: true
            bearer_only: false
            set_access_token_header: true
            access_token_in_authorization_header: true
            set_id_token_header: false
            set_userinfo_header: false
          secretRef: workspace-api
        - name: opa
          enable: true
          config:
            host: http://iam-opal-client.iam:8181
            policy: eoepca/workspace/wsapi
{{- end }}
{{- if eq ( getenv "HTTP_SCHEME" ) "https" }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: workspace-api
  namespace: workspace
spec:
  dnsNames:
    - workspace-api.{{ getenv "INGRESS_HOST" }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ getenv "CLUSTER_ISSUER" }}
  secretName: workspace-api-tls
  usages:
    - digital signature
    - key encipherment
    - server auth
---
apiVersion: apisix.apache.org/v2
kind: ApisixTls
metadata:
  name: workspace-api
  namespace: workspace
spec:
  hosts:
    - workspace-api.{{ getenv "INGRESS_HOST" }}
  secret:
    name: workspace-api-tls
    namespace: workspace
{{- end }}
