fullnameOverride: workspace-api
image:
  tag: 2.0.0-rc.8
  pullPolicy: Always
ingress:
  enabled: false
prefixForName: ws
endpoint: "{{ getenv "S3_ENDPOINT" }}"
region: "{{ getenv "S3_REGION" }}"
forwardedAllowIps: "*"
sessionMode: "auto"
useVcluster: "true"
gunicornWorkers: 4
uiMode: ui
workspaceSecretName: "bucket"
harborUrl: "{{ getenv "HTTP_SCHEME" }}://harbor.{{ getenv "INGRESS_HOST" }}"
harborUsername: "admin"
harborPasswordSecretName: "harbor-admin-password"