imagePullSecrets: []

global:
  namespace: resource-registration
ingress:
  enabled: false

pygeoapi:
  image:
    repository: eoepca/registration-api
    pullPolicy: Always
    tag: "2.0.0-rc3"
{{- if eq (getenv "RESOURCE_REGISTRATION_PROTECTED_TARGETS") "yes" }}
  secret:
    name: "registration-api-secret"
  iam_endpoint: "{{ getenv "HTTP_SCHEME" }}://{{ getenv "KEYCLOAK_HOST" }}"
  iam_realm: "{{ getenv "REALM" }}"
  iam_grant_type: "client_credentials"
{{- else }}
  secret: {}
{{- end }}
  config:
    server:
      url: {{ getenv "HTTP_SCHEME" }}://registration-api.{{ getenv "INGRESS_HOST" }}
    logging:
      level: ERROR
      # /tmp/pygeoapi.log
    metadata:
      identification:
        title: EOEPCA+ Registration API
        description: EOEPCA+ Registration API
        keywords:
            - EOEPCA+
            - Earth observation
            - exploitation
            - processing
            - registration
        keywords_type: theme
        terms_of_service: https://creativecommons.org/licenses/by/4.0
        url: https://eoepca.org
      license:
        name: CC-BY 4.0 license
        url: https://creativecommons.org/licenses/by/4.0
      provider:
        name: EOEPCA+
        url: https://eoepca.org
    resources:
      register:
        type: process
        processor:
          name: registration_api.processes.registration.RegisterProcessor
      deregister:
        type: process
        processor:
          name: registration_api.processes.registration.DeregisterProcessor
      hello-world:
        type: process
        processor:
          name: HelloWorld