cookiecutter:
  {{- if eq (getenv "OAPIP_EXECUTION_ENGINE") "calrissian" }}
  templateUrl: https://github.com/gfenoy/eoepca-proc-service-template.git
  templateBranch: feature/output-handling
  {{- else if eq (getenv "OAPIP_EXECUTION_ENGINE") "toil" }}
  templateUrl: https://github.com/EOEPCA/eoepca-proc-service-template-wes.git
  templateBranch: main
  {{- end }}
zoo:
  openapi:
    enabled: true
zoofpm:
  image:
    tag: eoepca-39b6fc74b6592b4584be5a0b2740dde11a1ffafc
zookernel:
  env:
    ZOO_OUTPUT_FORMAT: "stac-collection"
  image:
    tag: eoepca-39b6fc74b6592b4584be5a0b2740dde11a1ffafc
customConfig:
  main:
    eoepca: |-
      domain={{ getenv "INGRESS_HOST" }}
      {{- if eq (getenv "USE_WORKSPACE_API") "true" }}
      workspace_url=https://workspace-api.{{ getenv "INGRESS_HOST" }}
      {{- end }}
      workspace_prefix=ws
      workspace_catalog_register=false
workflow:
  defaultMaxRam: "1024"
  defaultMaxCores: "2"
  inputs:
  {{- if eq (getenv "OAPIP_EXECUTION_ENGINE") "toil" }}
    WES_URL: {{ getenv "OAPIP_TOIL_WES_URL" }}
    WES_USER: {{ getenv "OAPIP_TOIL_WES_USER" }}
    WES_PASSWORD: {{ getenv "OAPIP_TOIL_WES_PASSWORD" }}
  additionalInputs:
  {{- end }}
    STAGEIN_AWS_SERVICEURL: {{ getenv "STAGEIN_S3_ENDPOINT" }}
    STAGEIN_AWS_ACCESS_KEY_ID: {{ getenv "STAGEIN_S3_ACCESS_KEY" }}
    STAGEIN_AWS_SECRET_ACCESS_KEY: {{ getenv "STAGEIN_S3_SECRET_KEY" }}
    STAGEIN_AWS_REGION: {{ getenv "STAGEIN_S3_REGION" }}
    STAGEOUT_AWS_SERVICEURL: {{ getenv "S3_ENDPOINT" }}
    STAGEOUT_AWS_ACCESS_KEY_ID: {{ getenv "S3_ACCESS_KEY" }}
    STAGEOUT_AWS_SECRET_ACCESS_KEY: {{ getenv "S3_SECRET_KEY" }}
    STAGEOUT_AWS_REGION: {{ getenv "S3_REGION" }}
    STAGEOUT_OUTPUT: eoepca
  nodeSelector:
    {{- if eq (getenv "OAPIP_EXECUTION_ENGINE") "calrissian" }}
    {{ getenv "NODE_SELECTOR_KEY" }}: "{{ getenv "NODE_SELECTOR_VALUE" }}"
    {{- end }}
  storageClass: {{ getenv "SHARED_STORAGECLASS" }}
ingress:
  enabled: {{ getenv "OAPIP_INGRESS_ENABLED" }}
  hosturl: {{ getenv "OAPIP_HOST" }}
  className: {{ getenv "INGRESS_CLASS" }}
  annotations:
    kubernetes.io/ingress.class: {{ getenv "INGRESS_CLASS" }}
    {{- range $key, $value := (datasource "annotations") }}
    {{ $key }}: "{{ $value }}"
    {{- end }}
    argocd.argoproj.io/ignore-healthcheck: "true"
  hosts:
  - host: zoo.{{ getenv "INGRESS_HOST" }}
    paths:
    - path: /
      pathType: Prefix
  {{- if eq ( getenv "HTTP_SCHEME" ) "https" }}
  tls:
  - hosts:
    - zoo.{{ getenv "INGRESS_HOST" }}
    secretName: zoo-tls
  {{ end }}
persistence:
  procServicesStorageClass: {{ getenv "SHARED_STORAGECLASS" }}
  storageClass: {{ getenv "SHARED_STORAGECLASS" }}
  tmpStorageClass: {{ getenv "SHARED_STORAGECLASS" }}
postgresql:
  persistence:
    storageClass: {{ getenv "PERSISTENT_STORAGECLASS" }}
rabbitmq:
  autoSetup:
    enabled: true
  persistence:
    storageClass: {{ getenv "PERSISTENT_STORAGECLASS" }}
iam:
  enabled: false
documentation:
  enabled: true

