apiVersion: apisix.apache.org/v2
kind: ApisixRoute
metadata:
  name: registration-harvester-api
  namespace: resource-registration
spec:
  http:
    # 1. Redirect to /flowable-rest/
    - name: redirect-root
      match:
        hosts:
          - registration-harvester-api.{{ getenv "INGRESS_HOST" }}
        paths:
          - /
          - /flowable-rest
      plugins:
        - name: redirect
          enable: true
          config:
            uri: /flowable-rest/
      backends:  # never hit due to redirect
        - serviceName: registration-harvester-api-engine-flowable-rest
          servicePort: 8080

    # 2. Main service handler
    - name: rewrite-flowable-path
      match:
        hosts:
          - registration-harvester-api.{{ getenv "INGRESS_HOST" }}
        paths:
          - /flowable-rest/*
      backends:
        - serviceName: registration-harvester-api-engine-flowable-rest
          servicePort: 8080
{{- if eq ( getenv "HTTP_SCHEME" ) "https" }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: registration-harvester-api-tls
  namespace: resource-registration
spec:
  dnsNames:
    - registration-harvester-api.{{ getenv "INGRESS_HOST" }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ getenv "CLUSTER_ISSUER" }}
  secretName: registration-harvester-api-tls
  usages:
    - digital signature
    - key encipherment
    - server auth
---
apiVersion: apisix.apache.org/v2
kind: ApisixTls
metadata:
  name: registration-harvester-api-tls
  namespace: resource-registration
spec:
  hosts:
    - registration-harvester-api.{{ getenv "INGRESS_HOST" }}
  secret:
    name: registration-harvester-api-tls
    namespace: resource-registration
{{- end }}