
global:
  storageClass: {{ getenv "PERSISTENT_STORAGECLASS" }}

#-------------------------------------------------------------------------------
# Flowable
#-------------------------------------------------------------------------------
host:
  external: registration-harvester-api.{{ getenv "INGRESS_HOST" }}

rest:
  admin:
    username: {{ getenv "FLOWABLE_ADMIN_USER" }}
    password: {{ getenv "FLOWABLE_ADMIN_PASSWORD" }}

ingress:
  enabled: false

postgres:
  image:
    repository: bitnamilegacy/postgresql
