provider: AWS
region: {{ getenv "S3_REGION" }}
aws_access_key_id: {{ getenv "S3_ACCESS_KEY" }}
aws_secret_access_key: {{ getenv "S3_SECRET_KEY" }}
aws_signature_version: 4
host: {{ getenv "S3_HOST" }}
endpoint: "{{ getenv "S3_ENDPOINT" }}"
path_style: true