global:
  edition: ce
  hosts:
    domain: {{ getenv "INGRESS_HOST" }}
  ingress:
    configureCertmanager: false
    class: {{ getenv "INGRESS_CLASS" }}
    provider: {{ getenv "INGRESS_CLASS" }}
    {{- if eq (getenv "HTTP_SCHEME") "https" }}
    tls:
      external: true
    {{- end }}
    annotations:
      {{- range $key, $value := (datasource "annotations") }}
      {{ $key }}: "{{ $value }}"
      {{- end }}
    kubernetes.io/tls-acme: true

  minio:
    enabled: false

  appConfig:
  {{- if eq (getenv "MLOPS_OIDC_ENABLED") "true" }}
    omniauth:
      enabled: true
      allowSingleSignOn: ["saml", "openid_connect"]
      blockAutoCreatedUsers: false
      providers:
        - secret: openid-connect
  {{- else }}
    omniauth:
      enabled: false
  {{- end }}
    lfs:
      enabled: true
      bucket: gitlab-lfs-storage
      connection:
        secret: object-storage
        key: connection
    artifacts:
      enabled: false
    uploads:
      enabled: false
    packages:
      enabled: false
    backups:
      bucket: gitlab-backup-storage
      tmpBucket: gitlab-tmp-storage

  registry:
    enabled: false

upgradeCheck:
  enabled: false

gitlab:
  gitaly:
    persistence:
      storageClass: {{ getenv "PERSISTENT_STORAGECLASS" }}

  {{- if eq (getenv "HTTP_SCHEME") "https" }}
  webservice:
    ingress:
      tls:
        secretName: gitlab-tls
    # Limit resources for a small (resource limited) deployment
    # resources:
    #   requests:
    #     cpu: 200m
    #     memory: 2G
    # minReplicas: 1

  kas:
    ingress:
      tls:
        secretName: kas-tls
  {{- end }}


  toolbox:
    backups:
      objectStorage:
        config:
          secret: gitlab-storage-config
          key: config
  sidekiq:
    enabled: true
    # Limit resources for a small (resource limited) deployment
    # resources:
    #   requests:
    #     cpu: 500m

registry:
  enabled: false
  ingress:
    tls:
      secretName: registry-tls

{{- if eq (getenv "HTTP_SCHEME") "https" }}
minio:
  ingress:
    tls:
      secretName: minio-tls
{{- end }}

certmanager:
  install: false

nginx-ingress:
  enabled: false

nginx-ingress-geo:
  enabled: false

prometheus:
  install: false

gitlab-runner:
  install: false

redis:
  global:
    storageClass: {{ getenv "PERSISTENT_STORAGECLASS" }}
  metrics:
    enabled: false

postgresql:
  global:
    storageClass: {{ getenv "PERSISTENT_STORAGECLASS" }}
  metrics:
    enabled: false