ingress:
  enabled: true
  className: {{ getenv "INGRESS_CLASS" }}
  annotations:
    {{- range $key, $value := (datasource "annotations") }}
    {{ $key }}: "{{ $value }}"
    {{- end }}
  hosts:
    - host: maps.{{ getenv "INGRESS_HOST" }}
      paths:
        - path: /
          pathType: ImplementationSpecific
  {{- if eq ( getenv "HTTP_SCHEME" ) "https" }}
  tls:
  - hosts:
      - maps.{{ getenv "INGRESS_HOST" }}
    secretName: data-access-maps-tls
  {{- end }}
resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"
config:
  server:
    admin: true
    bind:
      host: 0.0.0.0
      port: 5000
    url: {{ getenv "HTTP_SCHEME" }}://maps.{{ getenv "INGRESS_HOST" }}
    mimetype: application/json; charset=UTF-8
    encoding: utf-8
    gzip: false
    languages:
      # First language is the default language
      - en-US
    # cors: true
    pretty_print: true
    limit: 10
    # templates:
    # path: /path/to/Jinja2/templates
    # static: /path/to/static/folder # css/js/img
    map:
      url: https://tile.openstreetmap.org/{z}/{x}/{y}.png
      attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  #    manager:
  #        name: TinyDB
  #        connection: /tmp/pygeoapi-process-manager.db
  #        output_dir: /tmp/
  # ogc_schemas_location: /opt/schemas.opengis.net

  logging:
    level: DEBUG
    #logfile: /tmp/pygeoapi.log

  metadata:
    identification:
      title:
        en: EOEPCA pygeoapi
      description:
        en: pygeoapi instance for the EOEPCA project
      keywords:
        en:
          - geospatial
          - data
          - api
          - eoepca
          - earth observation
      keywords_type: theme
      terms_of_service: https://creativecommons.org/licenses/by/4.0/
      url: https://eoepca.org
    license:
      name: CC-BY 4.0 license
      url: https://creativecommons.org/licenses/by/4.0/
    provider:
      name: EOEPCA+
      url: https://eoepca.org/
    contact:
      name: EOEPCA User
      position: EOEPCA User
      address: 1 Test Street
      city: Test City
      stateorprovince: Test State
      postalcode: "12345"
      country: Test Country
      # phone: +xx-xxx-xxx-xxxx
      # fax: +xx-xxx-xxx-xxxx
      email: support@eoepca.org
      url: https://eoepca.org
      hours: Mo-Fr 08:00-17:00
      instructions: During hours of service. Off on weekends.
      role: pointOfContact

  resources:
    sentinel-2-l2a:
      type: collection
      title: Sentinel 2 L2A
      description: Sentinel 2 L2A
      keywords:
        - sentinel2
      links:
        - type: text/html
          rel: canonical
          title: information
          href: {{ getenv "HTTP_SCHEME" }}://eoapi.{{ getenv "INGRESS_HOST" }}/
          hreflang: en-US
      extents:
        spatial:
          bbox: [-180, -90, 180, 90]
          crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
      providers:
        - type: map
          name: eoapi_maps_plugin.EOAPIProvider
          data: {{ getenv "HTTP_SCHEME" }}://eoapi.{{ getenv "INGRESS_HOST" }}/stac/collections/sentinel-2-l2a
          format:
            name: png
            mimetype: image/png

sync:
  enabled: true
  schedule: "*/10 * * * *"
  eoapiUrl: "{{ getenv "HTTP_SCHEME" }}://eoapi.{{ getenv "INGRESS_HOST" }}"
  pygeoapiUrl: "{{ getenv "HTTP_SCHEME" }}://maps.{{ getenv "INGRESS_HOST" }}"
  create: true
  update: true
  delete: true
  debug: true
  forceLinkMimetypeCheck: false
