services:
  eoepcalab:
    container_name: eoepcalab
    build:
      context: ..
      dockerfile: jupyterlab/Dockerfile
    image: eoepca/eoepcalab
    network_mode: "host"
    volumes:
    - ${PWD}/examples:/home/${PUSER}/work
    - $HOME/.eoepca/state:/home/${PUSER}/.eoepca/state
    - ${PWD}/kubeconfig:/home/${PUSER}/.kube/config
    # START (make permissions work)
    environment:
      NB_USER: "${PUSER}"
      NB_UID: "${PUID}"
      NB_GID: "${PGID}"
      CHOWN_HOME: "yes"
      JUPYTER_ENABLE_LAB: "yes"
      JUPYTER_PORT: "${EXPOSE_PORT}"
    user: root  # needed to perform the user chown
    working_dir: "/home/${PUSER}/work"
    # END (make permissions work)
    command: ["start-notebook.py", "--NotebookApp.token=''" ]
