prometheus-adapter:
  prometheus:
    url: 'http://eoapi-support-prometheus-server.data-access.svc.cluster.local'

grafana:
  service:
    type: ClusterIP
    annotations: {}
  ingress:
    enabled: true
    ingressClassName: {{ getenv "INGRESS_CLASS" }}
    hosts:
      - eoapisupport.{{ getenv "INGRESS_HOST" }}
    annotations:
      kubernetes.io/ingress.class: {{ getenv "INGRESS_CLASS" }}
      {{- range $key, $value := (datasource "annotations") }}
      {{ $key }}: "{{ $value }}"
      {{- end }}
    {{- if eq ( getenv "HTTP_SCHEME" ) "https" }}
    tls:
      - secretName: eoapisupport-tls
        hosts:
          - eoapisupport.{{ getenv "INGRESS_HOST" }}
    {{- end }}
  datasources:
    datasources.yaml:
      datasources:
        - name: prometheus
          orgId: 1
          type: prometheus
          url: http://eoapi-support-prometheus-server.data-access.svc.cluster.local
          access: proxy
          jsonData:
            timeInterval: "5s"
          isDefault: true
          editable: true
          version: 2

prometheus:
  server:
    service:
      annotations: {}
      type: ClusterIP
    persistentVolume:
      enabled: true
      storageClass: "{{ getenv "SHARED_STORAGECLASS" }}"
      accessModes:
        - ReadWriteMany

enableCaBundleFetch: true
caBundleSecretName: "eoepca-ca-secret"

metrics-server:
  image:
    repository: bitnamilegacy/metrics-server
  apiService:
    create: false
    insecureSkipTLSVerify: false
  commonAnnotations:
    cert-manager.io/inject-ca-from: cert-manager/eoepca-ca
  extraArgs:
    - --kubelet-insecure-tls=true
    - --kubelet-preferred-address-types=InternalIP
